version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: surajhub-web
    restart: always
    ports:
      - "3001:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/surajhub?schema=public
      - JWT_SECRET=supersecretkey
      - NEXT_TELEMETRY_DISABLED=1
      - HOSTNAME=0.0.0.0
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: surajhub-postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=surajhub
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
